.App {
  text-align: center;
}

.button-location {
  background-color: white !important;
}
.errorMsg {
  font-size: 18px;
  color: red;
  font-weight: bold;
}

.input-txt {
  color: white;
}
.header-color {
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: repeat;
  text-decoration-color: blue;
}

.landing-form {
  width: 100%;
  height: 100%;
  padding-top: 150px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  height: 100%;
  width : 100%;
  min-height: 100%;
  margin: auto;
}

.resources {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  width : 100%;
  min-height: 100%;
  margin: auto;
}

.vid-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block{
  width: 672px;
  height: 378px;
  padding-bottom: 50px;
  margin: 10px;
}

.block-text{
    width: 672px;
    height: 200px;
    margin: 10px;
}




.login-form {
  width: 100%;
  height: 100%;
  padding-top: 150px;
  text-align: center;
  align-items: center;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.No-Map {
  width: 100px;
	height: 100px;
  background-color: white;
  color: black;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  text-align: center;
  
  align-items: center;
  border-radius: 25px;
  padding: 20px;
  width: 500px;
  height: 300px ;
}