html, body {
  margin: 0;
  background: #BE93C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7BC6CC, #a1a9c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7BC6CC, #a1a9c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.AssessList {
  border: thin solid #C06C84;
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
 
.AssessList {
  position: relative;
  top: -47px;
  background: white;
  padding: 7px;
  width: 106px;
  color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
